@model IEnumerable<String>
@using Microsoft.AspNet.Identity
<div id="wrapper">
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <h4> Welcome @ViewBag.Name </h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row" id="styleData">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row ">
                            <div class="col-xs-3 front">
                                <i class="fa fa-thumbs-up fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right back">
                                <div class="huge">@ViewBag.Upvotes</div>
                                <div>upvotes received</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- one ends -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row">
                            <div class="col-xs-3 front">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right back">
                                <div class="huge">@ViewBag.Points</div>
                                <div>Reputation points</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second ends -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row">
                            <div class="col-xs-3 front">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right back">
                                <div class="huge">@ViewBag.Accepted</div>
                                <div>Accepted answers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row">
                            <div class="col-xs-3 front">
                                <i class="fa fa-tags  fa-5x"></i>
                            </div>
                            <div class="col-xs-12 text-right back">
                                <div class="huge" id="insertTags"> </div>
                                <div>Interested Tags</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div id="vin_container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 1
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 2
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 3
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 4
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 5
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 6
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 7
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 8
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 9
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 10
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-eye fa-fw"></i> Visualizations
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">

                                <div class="progress">

                                    <div id="bar" class="progress-bar progress-bar-success active progress-bar-striped" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"> </div>
                                </div>
                                <div id="hhh">  <span> naive </span> <span> mediocore</span> </div>
                            </a>

                        </div>

                        <div class="list-group well" id="Pie"> <i class="fa fa-pie-chart"> </i>  <span>    Pie chart  </span></div>
                        <!-- /.list-group -->
                        @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<br />
<p>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

<div id="chart" style="">

</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/d3.js"></script>
    <script type="text/javascript" src="~/Scripts/bpopup.js"></script>
    <script>
        var model = @Html.Raw(Json.Encode(Model));
        var i =0;
        model.forEach(function (question) {
            //console.log(question);
            $('#container_questions').html(question);
            $('#vin_container .panel-body:eq('+i+')').html(question);
            i++;
        });

        var jqxhr = $.getJSON('../Scripts/jsonda_string.json', function(d) {
            //console.log( "success" );
            var p = JSON.parse(d);
            var t = p[@User.Identity.GetUserName()];
            var data=[];
            for(var i=0; i<t.length;i++){
                var obj={};
                obj['label'] = t[i][0]
                obj['value'] = t[i][1]
                data.push(obj)
                console.log(data)
            }
            $("#Pie").on("click",function(){
                $("#chart svg").remove()
                var w = 300;
                var h = 300;
                var r = h/2;
                var color = d3.scale.category20c();
                $('#chart').bPopup({
                    speed: 650,
                    transition:"slideIn",
                    transitionClose:"slideBack"
                });

            @*if(@User.Identity.GetUserName() == "3090225"){
            var data =[{"label":"pojo", "value":1},{"label":"spring","value":2}];
            }
            else{
                var data =[{"label":"collections", "value":5},{"label":"generics","value":7},{"label":"subtyping","value":4}];
            }*@



            var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
            var pie = d3.layout.pie().value(function(d){return d.value;});

            // declare an arc generator function
            var arc = d3.svg.arc().outerRadius(r);

            // select paths, use arc generator to draw
            var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
            arcs.append("svg:path")
                .attr("fill", function(d, i){
                    return color(i);
                })
                .attr("d", function (d) {
                    // log the result of the arc generator to show how cool it is :)
                    console.log(arc(d));
                    return arc(d);
                });

            // add the text
            arcs.append("svg:text").attr("transform", function(d){
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";}).attr("text-anchor", "middle").text( function(d, i) {
                    return data[i].label;}
                    );
            })
            })
            .done(function() {
                //console.log( "second success" );
            })
            .fail(function() {
                console.log( "error" );
            })
            .always(function() {
                console.log( "complete" );
            });



        $('#vin_container .panel-body').hide();

        $('#vin_container .panel-heading').on("click",function(){
            //$('#vin_container .panel-body').hide();
            $(this).next().toggle('slow');
        });


        var points = @Html.Raw(ViewBag.PointsMod);
        var tot =@Html.Raw(ViewBag.MaxPoints);
        var per = (points/tot )*100
        console.log(per)
        $("#bar").width(per + '%').text(points);

        if(points<=100){
            $('#hhh span:first-child').text('Naive - 0')
            $('#hhh span:last-child').text('Mediocre - 100')
        }
        else if(points>100 && points<=500 ){
            $('#hhh span:first-child').text('Mediocre - 0')
            $('#hhh span:last-child').text('Expert - 400')
        }
        else{
            $('#hhh span:last-child').text('Expert')
            $('#hhh span:first-child').text('Expert')
        }


        var tags = @Html.Raw(Json.Encode(ViewBag.Tags));
        console.log("printing length" +tags.length)
        for(var i =0; i<tags.length; i++){
            $('#insertTags').append('<span class="tag">'+tags[i]+' </span>')
        }


        $('#sample').click(function () {
            $.ajax({
                url: '@Url.Action("Dashboard","Questions")',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: onSuccess
            });
        });

        function onSuccess(data) {
            $('#userId').text(data);
        }





    </script>

}
