@model IEnumerable<AdaptiveWebProject.Models.QuestionParts>
@using Microsoft.AspNet.Identity
<div id="wrapper">
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <h4> Welcome @ViewBag.Name </h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row" id="styleData">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row ">
                            <div class="col-xs-3 front">
                                <i class="fa fa-thumbs-up fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right back">
                                <div class="huge">@ViewBag.Upvotes</div>
                                <div>upvotes received</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- one ends -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row">
                            <div class="col-xs-3 front">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right back">
                                <div class="huge">@ViewBag.Points</div>
                                <div>Reputation points</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second ends -->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row">
                            <div class="col-xs-3 front">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right back">
                                <div class="huge">@ViewBag.Accepted</div>
                                <div>Accepted answers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="panel-heading flipper">
                        <div class="row">
                            <div class="col-xs-3 front">
                                <i class="fa fa-tags  fa-5x"></i>
                            </div>
                            <div class="col-xs-12 text-right back">
                                <div class="huge" id="insertTags"> </div>
                                <div>Interested Tags</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div id="vin_container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 1
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 2
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 3
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <div class="help">
                            <input id="helpBtn" class="btn btn-primary" value="Help" />
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 4
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 5
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 6
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 7
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 8
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 9
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question-circle fa-fw"></i> Question 10
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Solution 1
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-eye fa-fw"></i> Visualizations
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">

                                <div class="progress">

                                    <div id="bar" class="progress-bar progress-bar-success active progress-bar-striped" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"> </div>
                                </div>
                                <div id="hhh">  <span> naive </span> <span> mediocore</span> </div>
                            </a>

                        </div>

                        <div class="list-group well" id="Pie"> <i class="fa fa-pie-chart"> </i>  <span>    Pie chart  </span></div>
                        <!-- /.list-group -->
                        @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                    </div>
                    <!-- /.panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comment fa-fw"></i> Feedback
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">                            
                        <form role="form">
                            <label>Are the questions relevant to your areas of interest?</label>
                                <div class="btn-group">
                                    <button name="choice1" data-toggle="button" type="button" class="btn btn-primary btn-small">Yes</button>
                                    <button name="choice1" data-toggle="button" type="button" class="btn btn-primary btn-small">No</button>
                                </div>

                            <label>Are you satisfied with the difficulty of the question?</label>
                            <div class="btn-group">
                                <button name="choice2" data-toggle="button" class="btn btn-primary btn-small">Yes</button>
                                <button name="choice2" data-toggle="button" class="btn btn-primary btn-small">No</button>
                            </div>
                            <br />
                            <br />
                            <input type="button" class="btn btn-primary" value="Submit" id="btnSubmit" />
                        </form>
                            <!-- /.list-group -->
                            @*<a href="#" class="btn btn-default btn-block">View All Alerts</a>*@
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<br />
<p>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

<div id="chart" style="">
    <h3 id="title" hidden>User Tags</h3>
</div>

<div id="success" style="">
    <label style="background-color:white;color:green;font-size:large;vertical-align:central">Success</label>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/d3.js"></script>
    <script type="text/javascript" src="~/Scripts/bpopup.js"></script>
    <script>
        var model = @Html.Raw(Json.Encode(Model));
        var i =0;
        model.forEach(function (question) {
            //console.log(question);
            $('#container_questions').html(question['Body']);
            $('#vin_container .panel-body:eq('+i+')').html(question['Body']);
            i++;
        });

        $('#btnSubmit').click(function(){
            $('.btn-group button').removeClass('active');
            $('#success').bPopup({
                speed: 650,
                transition:"slideIn",
                transitionClose:"slideBack"
            });
        });

        $('#title').hide();


       

        var jqxhr = $.getJSON('../Scripts/jsonda_string.json', function(d) {
            //console.log( "success" );
            var p = JSON.parse(d);
            var t = p[@User.Identity.GetUserName()];
            var data=[];
            for(var i=0; i<t.length;i++){
                var obj={};
                obj['label'] = t[i][0]
                obj['value'] = t[i][1]
                data.push(obj)
                console.log(data)
            }
            $("#Pie").on("click",function(){
                $('#title').show();
                $("#chart svg").remove()
                var w = 300;
                var h = 300;
                var r = h/2;
                var color = d3.scale.category20c();
                $('#chart').bPopup({
                    speed: 650,
                    transition:"slideIn",
                    transitionClose:"slideBack"
                });

            @*if(@User.Identity.GetUserName() == "3090225"){
            var data =[{"label":"pojo", "value":1},{"label":"spring","value":2}];
            }
            else{
                var data =[{"label":"collections", "value":5},{"label":"generics","value":7},{"label":"subtyping","value":4}];
            }*@



            var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
            var pie = d3.layout.pie().value(function(d){return d.value;});

            // declare an arc generator function
            var arc = d3.svg.arc().outerRadius(r);

            // select paths, use arc generator to draw
            var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
            arcs.append("svg:path")
                .attr("fill", function(d, i){
                    return color(i);
                })
                .attr("d", function (d) {
                    // log the result of the arc generator to show how cool it is :)
                    console.log(arc(d));
                    return arc(d);
                });

            // add the text
            arcs.append("svg:text").attr("transform", function(d){
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";}).attr("text-anchor", "middle").text( function(d, i) {
                    return data[i].label;}
                    );
            })
            })
            .done(function() {
                //console.log( "second success" );
            })
            .fail(function() {
                console.log( "error" );
            })
            .always(function() {
                console.log( "complete" );
            });



        $('#vin_container .panel-body').hide();

        $('#vin_container .panel-heading').on("click",function(){
            //$('#vin_container .panel-body').hide();
            $(this).next().toggle('slow');
        });


        var points = @Html.Raw(ViewBag.PointsMod);
        var origPoints =@Html.Raw(ViewBag.Points);
        var tot =@Html.Raw(ViewBag.MaxPoints);
        var per = (points/tot )*100
        console.log(per)
        $("#bar").width(per + '%').text(points);

        if(origPoints<=100){
            $('#hhh span:first-child').text('Naive - 0')
            $('#hhh span:last-child').text('Mediocre - 100')
        }
        else if(origPoints>100 && origPoints<=500 ){
            $('#hhh span:first-child').text('Mediocre - 0')
            $('#hhh span:last-child').text('Expert - 400')
        }
        else{
            $('#hhh span:last-child').text('Expert')
            $('#hhh span:first-child').text('Expert')
        }


        var tags = @Html.Raw(Json.Encode(ViewBag.Tags));
        console.log("printing length" +tags.length)
        for(var i =0; i<tags.length; i++){
            $('#insertTags').append('<span class="tag">'+tags[i]+' </span>')
        }


        $('#sample').click(function () {
            $.ajax({
                url: '@Url.Action("Dashboard","ForceDirected")',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: onSuccess
            });
        });

        function onSuccess(data) {
            $('#userId').text(data);
        }


        $('#helpBtn').click(function(){
            var width = 960,
            height = 500;

            var force = d3.layout.force()
                .linkDistance(80)
                .charge(-120)
                .gravity(.05)
                .size([width, height])
                .on("tick", tick);

            var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height);

            var link = svg.selectAll(".link"),
                node = svg.selectAll(".node");

            //d3.json("graph.json", function(error, json) {
            //    if (error) throw error;

            //    root = json;
            //    update();
            //});

            root =   {
                "name": model[0].question.force.PostId,
                "children": [
                 {
                     "name": question.force.Tags[0],
                     "children": [
                      {"name": model[0].question.force.list1[0].UserId, "size": model[0].question.force.list1[0].Points},
                      {"name": model[0].question.force.list1[1].UserId, "size": model[0].question.force.list1[1].Points},
                      {"name": model[0].question.force.list1[2].UserId, "size": model[0].question.force.list1[2].Points},
                      {"name": model[0].question.force.list1[3].UserId, "size": model[0].question.force.list1[3].Points},
                      {"name": model[0].question.force.list1[4].UserId, "size": model[0].question.force.list1[4].Points}
                     ]
                 },
                 {
                     "name": model[0].question.force.Tags[1],
                     "children": [
                      {"name": model[0].question.force.list2[0].UserId, "size": model[0].question.force.list2[0].Points},
                      {"name": model[0].question.force.list2[1].UserId, "size": model[0].question.force.list2[1].Points},
                      {"name": model[0].question.force.list2[2].UserId, "size": model[0].question.force.list2[2].Points},
                      {"name": model[0].question.force.list2[3].UserId, "size": model[0].question.force.list2[3].Points},
                      {"name": model[0].question.force.list2[4].UserId, "size": model[0].question.force.list2[4].Points}
                     ]
                 },
                 {
                     "name": model[0].question.force.Tags[2],
                     "children": [
                      {"name": model[0].question.force.list3[0].UserId, "size": model[0].question.force.list3[0].Points},
                      {"name": model[0].question.force.list3[1].UserId, "size": model[0].question.force.list3[1].Points},
                      {"name": model[0].question.force.list3[2].UserId, "size": model[0].question.force.list3[2].Points},
                      {"name": model[0].question.force.list3[3].UserId, "size": model[0].question.force.list3[3].Points},
                      {"name": model[0].question.force.list3[4].UserId, "size": model[0].question.force.list3[4].Points}
                     ]
                 }
                ]
            }

            function update() {
                var nodes = flatten(root),
                    links = d3.layout.tree().links(nodes);

                // Restart the force layout.
                force
                    .nodes(nodes)
                    .links(links)
                    .start();

                // Update links.
                link = link.data(links, function(d) { return d.target.id; });

                link.exit().remove();

                link.enter().insert("line", ".node")
                    .attr("class", "link");

                // Update nodes.
                node = node.data(nodes, function(d) { return d.id; });

                node.exit().remove();

                var nodeEnter = node.enter().append("g")
                    .attr("class", "node")
                    .on("click", click)
                    .call(force.drag);

                nodeEnter.append("circle")
                    .attr("r", function(d) { return Math.sqrt(d.size) / 10 || 4.5; });

                nodeEnter.append("text")
                    .attr("dy", ".35em")
                    .text(function(d) { return d.name; });

                node.select("circle")
                    .style("fill", color);
            }

            function tick() {
                link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
            }

            function color(d) {
                return d._children ? "#3182bd" // collapsed package
                    : d.children ? "#c6dbef" // expanded package
                    : "#fd8d3c"; // leaf node
            }

            // Toggle children on click.
            function click(d) {
                if (d3.event.defaultPrevented) return; // ignore drag
                if (d.children) {
                    d._children = d.children;
                    d.children = null;
                } else {
                    d.children = d._children;
                    d._children = null;
                }
                update();
            }

            // Returns a list of all nodes under the root.
            function flatten(root) {
                var nodes = [], i = 0;

                function recurse(node) {
                    if (node.children) node.children.forEach(recurse);
                    if (!node.id) node.id = ++i;
                    nodes.push(node);
                }

                recurse(root);
                return nodes;
            }
        });
        


    </script>

}
